.button {
    background: #835afd;
    color: #fff;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 32px;

    font-weight: 500;

    border: 0;
    border-radius: 8px;

    cursor: pointer;
    transition: filter .2s;

    img {
        margin-right: 8px;
    }

    &.outlined {
        background: #fff;
        color: #835afd;
        border: 1px solid #835afd;
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}