#page-room {
    header {
        padding: 24px;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 1120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            > img {
                max-height: 45px;
            }
            
            > div {
                display: flex;
                gap: 16px;

                button {
                    height: 40px;
                }
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        .room-title {
            display: flex;
            align-items: center;
            margin: 32px 0 24px;

            h1 {
                color: #29292e;
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
            }

            span {
                background: #e559f9;
                color: #fff;

                margin-left: 16px;
                padding: 8px 16px;

                border-radius: 9999px;

                font-size: 14px;
                font-weight: 500;
            }
        }

        form {
            textarea {
                background: #fefefe;
                width: 100%;
                min-height: 130px;

                padding: 16px;

                border: 0;
                border-radius: 8px;

                resize: vertical;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
            }

            .form-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                margin-top: 16px;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;

                        border-radius: 50%;
                    }

                    span {
                        color: #29292e;
                        margin-left: 8px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                > span {
                    color: #737380;
                    font-size: 14px;
                    font-weight: 500;

                    button {
                        background: transparent;
                        color: #835afd;
                        border: 0;

                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: underline;
                        
                        cursor: pointer;
                    }
                }
            }
        }

        .question-list {
            margin-top: 32px;
        }
    }
}